version: '3.4'
volumes:
  server-db-OasisData:
  celery-db-OasisData:
  filestore-OasisData:
x-shared-env: &shared-env
  OASIS_DEBUG: 1
  OASIS_URL_SUB_PATH: 0
  OASIS_CELERY_BROKER_URL: "amqp://rabbit:rabbit@broker:5672"
  OASIS_SERVER_DB_HOST: server-db
  OASIS_SERVER_DB_PASS: oasis
  OASIS_SERVER_DB_USER: oasis
  OASIS_SERVER_DB_NAME: oasis
  OASIS_SERVER_DB_PORT: 5432
  OASIS_SERVER_CHANNEL_LAYER_HOST: channel-layer
  OASIS_SERVER_DB_ENGINE: django.db.backends.postgresql_psycopg2
  OASIS_CELERY_DB_ENGINE: db+postgresql+psycopg2
  OASIS_CELERY_DB_HOST: celery-db
  OASIS_CELERY_DB_PASS: password
  OASIS_CELERY_DB_USER: celery
  OASIS_CELERY_DB_NAME: celery
  OASIS_CELERY_DB_PORT: 5432
  OASIS_INPUT_GENERATION_CONTROLLER_QUEUE: task-controller
  OASIS_LOSSES_GENERATION_CONTROLLER_QUEUE: task-controller
x-volumes: &shared-volumes
  - filestore-OasisData:/shared-fs:rw
services:
  server:
   restart: always
   image: ${SERVER_IMG:-coreoasis/api_server}:${SERVER_TAG:-2.1.2}
   command: ["./wsgi/run-wsgi.sh"]
   ports:
     - 8000:8000
   links:
     - server-db
     - celery-db
     - broker
   environment:
     <<: *shared-env
     STARTUP_RUN_MIGRATIONS: "true"
     OASIS_ADMIN_USER: admin
     OASIS_ADMIN_PASS: password
   volumes:
     - filestore-OasisData:/shared-fs:rw
  websocket:
   restart: always
   image: ${SERVER_IMG:-coreoasis/api_server}:${SERVER_TAG:-2.1.2}
   command: ["./asgi/run-asgi.sh"]
   links:
     - server-db
     - celery-db
     - broker
   ports:
     - 8001:8001
   environment:
     <<: *shared-env
   volumes:
     - filestore-OasisData:/shared-fs:rw
  worker-monitor:
   restart: always
   image: ${SERVER_IMG:-coreoasis/api_server}:${SERVER_TAG:-2.1.2}
   command: [celery, -A, src.server.oasisapi.celery_app, worker, --loglevel=INFO]
   links:
     - server-db
     - celery-db
     - broker
   environment:
     <<: *shared-env
   volumes:
     - filestore-OasisData:/shared-fs:rw
  task-controller:
   restart: always
   image: ${SERVER_IMG:-coreoasis/api_server}:${SERVER_TAG:-2.1.2}
   command: [celery, -A, src.server.oasisapi.celery_app, worker, --loglevel=INFO, -Q, task-controller]
   links:
     - server-db
     - celery-db
     - broker
   environment:
     <<: *shared-env
   volumes:
     - filestore-OasisData:/shared-fs:rw
  celery-beat:
   restart: always
   image: ${SERVER_IMG:-coreoasis/api_server}:${SERVER_TAG:-2.1.2}
   command: [celery, -A, src.server.oasisapi.celery_app, beat, --loglevel=INFO]
   links:
     - server-db
     - celery-db
     - broker
   environment:
     <<: *shared-env
   volumes: *shared-volumes
  worker:
    restart: always
    image: ${WORKER_IMG:-coreoasis/model_worker}:${WORKER_TAG:-2.1.2}
    links:
     - celery-db
     - broker:mybroker
    environment:
     <<: *shared-env
     OASIS_MODEL_SUPPLIER_ID: OasisLMF
     OASIS_MODEL_ID: PiWind
     OASIS_MODEL_VERSION_ID: 1
    volumes:
     - ../:/home/worker/model
     - filestore-OasisData:/shared-fs:rw
  server-db:
    restart: always
    image: postgres
    environment:
      - POSTGRES_DB=oasis
      - POSTGRES_USER=oasis
      - POSTGRES_PASSWORD=oasis
    volumes:
      - server-db-OasisData:/var/lib/postgresql/data:rw
    ports:
      - 33307:3306
  celery-db:
    restart: always
    image: postgres
    environment:
      - POSTGRES_DB=celery
      - POSTGRES_USER=celery
      - POSTGRES_PASSWORD=password
    volumes:
      - celery-db-OasisData:/var/lib/postgresql/data:rw
    ports:
      - 33306:5432
  broker:
    restart: always
    image: rabbitmq:3.8.14-management
    environment:
      - RABBITMQ_DEFAULT_USER=rabbit
      - RABBITMQ_DEFAULT_PASS=rabbit
    ports:
      - 5672:5672
      - 15672:15672
  channel-layer:
    restart: always
    image: redis:5.0.7
    ports:
      - 6379:6379
